<ul id="menu">
    <li>@Html.ActionLink("Home","Index","Home")</li>
    <li>@Html.ActionLink("Generate Serial","Generate","Serial")</li>
    <li>@Html.ActionLink("Serial Reporting","Index","Serial")</li>
    <li>About</li>
</ul>

<script type="text/javascript">
    $(function () {
        $("#menu").kendoMenu();
    });
</script>