<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISiteService" closeTimeout="00:00:45" receiveTimeout="00:00:45" openTimeout="00:00:45" sendTimeout="00:00:45" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.pcfarda.com/SiteService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISiteService" contract="SiteServiceReference.ISiteService"
                name="BasicHttpBinding_ISiteService" />
        </client>
    </system.serviceModel>
</configuration>
