<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="SoftwareSerial.Client.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="SoftwareSerial.Client.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SoftwareSerial.Client/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISerialService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISerialService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12603/SerialService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISerialService"
                contract="SerialServiceReference.ISerialService" name="WSHttpBinding_ISerialService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:13402/SerialService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISerialService"
                contract="SerialServiceReference.ISerialService" name="BasicHttpBinding_ISerialService" />
        </client>
    </system.serviceModel>
</configuration>