<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoftwareSerialApp.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="SoftwareSerialDbConStr" connectionString="Data Source=67.225.166.183;Initial Catalog=SoftwareSerialDb;user id=kamanco_serial;password=kaman9980;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SoftwareSerialDbConStr" connectionString="Data Source=(localdb)\v11;Initial Catalog=SoftwareSerialDb;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="SoftwareSerialDbConStr" connectionString="Data Source=C:\Users\Public\Documents\TestDbs\SoftwareSerialDb.sdf;" providerName="System.Data.SqlServerCe.4.0" />
    <!--<add name="SerialDbContext" connectionString="Data Source=67.225.166.183;Initial Catalog=SoftwareSerialDb;user id=kamanco_serial;password=kaman9980;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>